@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

p, h1, button, span, label {
  font-family: 'Open Sans', sans-serif;
}

.loading-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.loading {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $teal;
  border-color: $teal transparent $teal transparent;
  animation: loading-spin 1.2s linear infinite;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#newgame-title {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
}
